@model PizzaBox.Client.Models.OrderViewModel

@{
  ViewData["Title"] = "Home Page";
}

<form action="/order" method="post">
  @Html.AntiForgeryToken()
  <div>
    <input type="text" asp-for="@Model.SelectedCustomer" value="customer">
    <label for="customer">Customer</label>
  </div>
  <fieldset>
    <legend>Stores</legend>
    @foreach (var item in Model.Stores)
    {
      <div class="form-check">
        <input class="form-check-input" type="radio" asp-for="@Model.SelectedStore" value="@item">
        <label class="form-check-label" for="@item">@item</label>
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Crusts</legend>

    @Html.ValidationMessageFor(m => m.SelectedCrust)

    @foreach (var item in Model.Crusts)
    {
      <div class="form-check">
        <input class="form-check-input" type="radio" asp-for="@Model.SelectedCrust" value="@item">
        <label class="form-check-label" for="@item">@item</label>
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Sizes</legend>

    @Html.ValidationMessageFor(m => m.SelectedSize)

    @foreach (var item in Model.Sizes)
    {
      <div class="form-check">
        <input class="form-check-input" type="radio" asp-for="@Model.SelectedSize" value="@item">
        <label class="form-check-label" for="@item">@item</label>
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Toppings</legend>

    @Html.ValidationMessageFor(m => m.SelectedToppings)

    @foreach (var item in Model.Toppings)
    {
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="@item" name="selectedtoppings" value="@item">
        <label class="form-check-label" for="@item">@item</label>
      </div>
    }
  </fieldset>

  <button type="submit">Make Pizza</button>
</form>
