@model PizzaBox.Client.Models.OrderViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PizzaBox</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    @foreach (var item in Model.Crusts)
    {
        <li>@item</li>
    }
</ul>
@* <form action="/order">
    @foreach (var item in Model.Crusts)
    {
    <label for="@item">@item</label>
    <input type="radio" id="@item" name="selectedcrust" value="@item">
    }
    <button type="submit">select crust</button>
    </form> *@
